<div class="admin-login-container">
    <div class="login-card">
        <div class="login-header">
            <img src="logo.PNG" alt="NoveLuxe Logo" class="login-logo">
            <h2>Admin Login</h2>
        </div>

        <div class="login-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" [(ngModel)]="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="password" required>
            </div>

            <div class="form-actions">
                <button class="login-button" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>